{% extends 'base.html.twig' %}

{% block title %}Teams{% endblock %}

{% block body %}

    <div class="uk-flex uk-margin-left">
    <h1>{{ team.name }}</h1>
    <div class="uk-margin-left">
    <a href="{{ path('teams_edit', {'id': team.id}) }}">edit</a>
    </div>
    <div class="uk-margin-left uk-margin-right">
    {{ include('teams/_delete_form.html.twig') }}
    </div>
    
    <table class="table">
        <tbody>
                <th>Niveau :</th>
                <td>{{ team.level }}</td>     
            </tr>
        </tbody>
    </table>
    </div>

    {% for season in seasons %}
    <div class="uk-margin-left">
    <h4>Saison participé :</h4>
        <li><a href="{{path("season_show", {id :season.id }) }}">{{ season.year }} </a></li>
    </div>    
    {% else %}
        <li>Aucune saison pour ce club</li>
    {% endfor %}

    {% for player in players %}
    <div class="uk-margin-left uk-margin-top">
    <h4>Joueurs du club :</h4>
        <li><a href="{{path("player_show", {id :player.id }) }}">{{ player.name }}{{ player.firstname }} </a></li>
    </div>
    {% else %}
        <li>Aucun joueurs pour ce club</li>
    {% endfor %}

    <div class="uk-margin-left uk-margin-top">
    <a href="{{ path('teams_index') }}">back to list</a>
    </div>

    
{% endblock %}
