{% extends 'base.html.twig' %}

{% block title %}Season{% endblock %}

{% block body %}
    <h1>Season</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ season.id }}</td>
            </tr>
            <tr>
                <th>Year</th>
                <td>{{ season.year }}</td>
            </tr>
        </tbody>
    </table>

    {% for player in players %}
        <li><a href="{{path("player_show", {id :player.id }) }}">{{ player.name }} </a></li>
    {% else %}
        <li>Aucune saison pour ce club</li>
    {% endfor %}

    <a href="{{ path('season_index') }}">back to list</a>

    <a href="{{ path('season_edit', {'id': season.id}) }}">edit</a>

    {{ include('season/_delete_form.html.twig') }}
{% endblock %}
